html,
body {
  min-width: 500px;
}
.page {
  padding: 20px;
}
.App {
  text-align: center;
}
.box {
  text-align: left;
  border: black ridge 1px;
  border-radius: 10px;
  margin: 10px auto;
  width: 20rem;
  padding-left: 10px;
}
.box:hover {
  background-color: #d9d9d9;
  color: black;
}
.searchTerm {
  border: 3px solid #00b4cc;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9dbfaf;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
